*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    height:20vh;
    width:20vw;
    margin-top: 40vh;
    margin-left: 10vw;
    color:white;
    
}
.banner{
    font-size: 20px;
    font-weight: 300;
    
}
.clock{
    height:6vh;
    width:8vw;
    background-color: rgb(238, 180, 64);
    color:black;
    border:none;
    border-radius: 20px;
    margin-top: 10px;
    padding: 12px 0px 0px 20px;
    font-weight:800;
}